.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NavBar */
header {
  position: absolute;
  top: 0;
}

header nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: rgb(70, 70, 231);
  padding: 4px 8px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

header nav a:hover {
  background-color: antiquewhite;
}

/* Main */
main {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  height: auto;
  min-height: 60vh;
  max-height: 90vh;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

/* TaskList */
.tasks-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #2c2f33;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  position: relative;
}

.tasks-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tasks-subtitle {
  font-size: 1em;
  margin-bottom: 20px;
  color: #aaaaaa;
}

.tasks-container .add-task {
  position: absolute;
  left: 20%;
  cursor: pointer;
  font-size: 35px;
  position: fixed;
  color: #41c748;
  transition: transform 0.2s;
}

.add-task:hover {
  transform: scale(1.1);
}
.task-actions {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  padding: 5px 15px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  font-size: 1em;
  width: 250px;
}

.search i {
  padding: 5px;
  background-color: #7289da;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  transition: background-color 0.3s;
}

.search i:hover {
  background-color: #5a6faa;
}

.tasks-list {
  margin-top: 30px;
  color: #ffffff;
  font-size: 1em;
}

/* AddTask */
.add-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #1d1e1f;
  border-radius: 15px;
  padding: 30px 40px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) scale(0);
  opacity: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.add-task-container.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 1000;
}

.task-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-title i {
  font-size: 35px;
  color: #ffd700;
  margin-left: 10px;
}

.add-task-container .close {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #f8937a;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 5%;
  transition: all ease-in-out 0.2s;
}

.add-task-container .close:hover {
  transform: scale(1.05);
  color: #ff0000;
  background-color: transparent;
}

.add-task-container input[type="text"] {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d9e6;
  outline: none;
  margin: 10px 0;
  width: 100%;
  background-color: #f8faff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.add-task-container input[type="text"]:focus {
  border-color: #5c9ffd;
  box-shadow: 0 0 5px rgba(92, 159, 253, 0.5);
}

.add-task-container input[type="range"] {
  width: 100%;
  accent-color: #3b51cc;
  padding: 0 !;
}

.due-date-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.add-task-container input[type="date"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1d9e6;
  outline: none;
  width: 100%;
  background-color: #f8faff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.add-task-container input[type="date"]:focus {
  border-color: #5c9ffd;
  box-shadow: 0 0 5px rgba(92, 159, 253, 0.5);
}

.add-task-button {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.add-task-button:hover {
  background-color: #303f9f;
}

.add-task-button:active {
  transform: translateY(1px);
}

/* Footer */
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #1d1e1f;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  height: 80px;
  margin: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
}
