.App {
  text-align: center;
  background-color: #1d1e1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NavBar */
header {
  position: absolute;
  top: 0;
  background-color: #2b2b2e;
  width: 100%;
  height: 55px;
}

header nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  display: none;
}

header nav a {
  position: relative;
  text-decoration: none;
  color: rgb(70, 70, 231);
  padding: 4px 8px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

header nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(70, 70, 231);
  transition: all ease-in-out 0.4s;
  transform: translateX(-50%);
}

header nav a:hover::after {
  width: 100%;
}

/* Ações NavBar */
.switch-container {
  position: absolute;
  right: 70px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* O slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3e3f3e;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Profile */
.profile-nav-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  margin-left: 10px;
  background-color: #007bff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile-icon.show {
  background-color: #005bb5;
}

.profile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  background-color: #007bff;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.profile-menu.show {
  width: 135px;
  top: 60px;
  opacity: 1;
  visibility: visible;
}

.profile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all ease-in-out 0.6s;
}

.profile-menu ul.show {
  opacity: 1;
}

.profile-menu ul li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}

.profile-menu ul li:hover {
  background-color: #005bb5;
}

/* Email Verification */
.email-verified-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.email-verified-title {
  font-size: 1.6em;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 15px;
}

.email-verified-message {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.email-verified-button {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}

.email-verified-button:hover {
  background-color: #303f9f;
  transform: translateY(-2px);
}

/* Home */
.home-container {
  padding: 20px;
  color: #ffffff;
  text-align: center;
  /* background: linear-gradient(135deg, #1d1e1f, #3a3b3c); */
  min-height: 100vh;
}

.hero-section {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.hero-section h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #00bcd4;
}

.hero-section h2 {
  font-size: 1.2em;
  color: #007bff;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 0.8em;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ddd;
}

.get-started-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.get-started-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.features-section {
  margin-bottom: 60px;
}

.features-section h3 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #ffc107;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  width: 280px;
  margin: 20px;
  padding: 25px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.feature i {
  font-size: 40px;
  color: #00bcd4;
  margin-bottom: 15px;
}

.feature h4 {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #ffffff;
}

.feature p {
  font-size: 0.8em;
  line-height: 1.6;
  color: #ddd;
}

.cta-section {
  margin-top: 60px;
}

.cta-section h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffc107;
}

@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }

  .hero-section h1 {
    font-size: 2.5em;
  }

  .hero-section h2 {
    font-size: 1.2em;
  }

  .hero-section p {
    font-size: 0.9em;
  }

  .features-section h3 {
    font-size: 1.8em;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 90%;
    margin: 15px 0;
  }

  .cta-section h3 {
    font-size: 1.5em;
  }

  .get-started-button {
    padding: 12px 25px;
    font-size: 0.9em;
  }
}

@media (max-width: 500px) {
  .hero-section h1 {
    font-size: 2em;
  }

  .hero-section h2 {
    font-size: 1em;
  }

  .hero-section p {
    font-size: 0.8em;
  }

  .features-section h3 {
    font-size: 1.6em;
  }

  .get-started-button {
    padding: 10px 20px;
    font-size: 0.8em;
  }
}

/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1e1f;
}

.box {
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 5px;
}

.login-subtitle {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.login-input {
  display: flex;
  flex-direction: column;
}

.login-input input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  background-color: #f8faff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-input input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

.login-button {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
  background-color: #303f9f;
  transform: translateY(-2px);
}

.google-login-button {
  margin-top: 15px;
  background-color: #ffffff;
  color: #757575;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
  width: 100%;
}

.google-login-button:hover {
  background-color: #f7f7f7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Register */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1e1f;
}

.register-box {
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  /* background-color: #ffffff; */
}

.register-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #3f51b5;
  margin-bottom: 5px;
}

.register-subtitle {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.register-input {
  display: flex;
  flex-direction: column;
}

.register-input input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  background-color: #f8faff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.register-input input:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

.register-button {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.register-button:hover {
  background-color: #303f9f;
  transform: translateY(-2px);
}

.google-register-button {
  margin-top: 15px;
  background-color: #ffffff;
  color: #757575;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
  width: 100%;
}

.google-register-button:hover {
  background-color: #f7f7f7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#alert-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

#alert-message.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 1000;
}

#alert-message button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #3f51b5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#alert-message button:hover {
  background-color: #303f9f;
}

/* Main */
main {
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 80px;
}

/* TaskList */
.tasks-container {
  max-width: 800px;
  max-height: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #2c2f33;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  position: relative;
}

.add-task {
  position: absolute;
  left: 40px;
  cursor: pointer;
  font-size: 35px;
  color: #41c748;
  transition: transform 0.2s;
}

.tasks-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.tasks-subtitle {
  font-size: 1em;
  margin-bottom: 20px;
  color: #aaaaaa;
}

.add-task:hover {
  transform: scale(1.1);
}
.task-actions {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  padding: 5px 15px;
  width: auto;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  font-size: 1em;
}

.search i {
  padding: 5px;
  background-color: #7289da;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 30px;
  transition: background-color 0.3s;
}

.search i:hover {
  background-color: #5a6faa;
}

.tasks-list {
  margin-top: 30px;
  color: #ffffff;
  font-size: 1em;
}

/* AddTask */
.add-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #1d1e1f;
  border-radius: 15px;
  padding: 30px 40px;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) scale(0);
  opacity: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.add-task-container.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 1000;
}

.task-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.task-title i {
  font-size: 35px;
  color: #ffd700;
  margin-left: 10px;
}

.add-task-container .close {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #f8937a;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 5%;
  transition: all ease-in-out 0.2s;
}

.add-task-container .close:hover {
  transform: scale(1.05);
  color: #ff0000;
  background-color: transparent;
}

.add-task-container input[type="text"] {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d9e6;
  outline: none;
  margin: 10px 0;
  width: 100%;
  background-color: #f8faff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.add-task-container input[type="text"]:focus {
  border-color: #5c9ffd;
  box-shadow: 0 0 5px rgba(92, 159, 253, 0.5);
}

.add-task-container input[type="range"] {
  width: 100%;
  accent-color: #3b51cc;
  padding: 0 !;
}

.due-date-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.add-task-container input[type="date"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d1d9e6;
  outline: none;
  width: 100%;
  background-color: #f8faff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.add-task-container input[type="date"]:focus {
  border-color: #5c9ffd;
  box-shadow: 0 0 5px rgba(92, 159, 253, 0.5);
}

.add-task-button {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.add-task-button:hover {
  background-color: #303f9f;
}

.add-task-button:active {
  transform: translateY(1px);
}

/* Lista de Tasks */
.task-list {
  margin: 0 auto;
  max-width: 500px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #1d1e1f;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.task-list li .task {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.block-status-color {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-status-color span {
  font-size: 25px !important;
  background-color: #ffe96e;
  color: #000000 !important;
  border-radius: 50%;
  padding: 2px;
  animation: pulsing infinite 1s;
}

.delete-task {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-task span.delete {
  font-size: 25px !important;
  color: #a80606 !important;
  transition: all ease-in-out 0.3s;
}

.delete-task span:hover {
  font-size: 25px !important;
  transform: scale(1.1);
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.task-list li:hover {
  background-color: #e0f7fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.task-list i {
  font-size: 24px;
  color: #ffd700;
  margin-right: 10px;
}

.task-list span {
  font-size: 18px;
  color: #333;
}

.finished {
  background-color: #fae0e0 !important;
}

.finished p {
  text-decoration: line-through;
}

.started {
  background-color: #e1fae0 !important;
}

.paused {
  background-color: #e0e0fa !important;
}

/* Tasks Informations */
.task-informations {
  min-width: 400px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  list-style-type: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.task-informations ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.task-informations li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.task-informations li:last-child {
  border-bottom: none;
}

.task-informations h5 {
  font-size: 16px;
  margin: 0 0 5px 0;
  color: #ffd700;
}

.task-informations p {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0;
}

.low {
  background-color: green;
}

.below-average {
  background-color: lightgreen;
}

.medium {
  background-color: orange;
}

.above-average {
  background-color: rgb(240, 97, 46);
}

.high {
  background-color: rgb(212, 0, 0);
}

.bottom-line {
  display: inline-block;
  width: 100%;
  height: 5px;
}

/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: none;
}

#overlay.show {
  display: block;
  z-index: 999;
}

#alert-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) scale(0);
  opacity: 0;
  width: 400px;
  background-color: #caffbc;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

#alert-message.show {
  z-index: 2000;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

#alert-message h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

#alert-message p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

#alert-message button {
  background-color: #41c748;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#alert-message button:hover {
  background-color: #36a43e;
}

/* Footer */
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #1d1e1f;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  height: 80px;
  margin: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
}

/* Verify Account */
.warning-account-not-verified {
  position: fixed;
  bottom: 20px; /* Ou use top: 20px para posicionar no topo */
  right: 20px;
  background-color: rgba(
    255,
    165,
    0,
    0.9
  ); /* Laranja sutil com transparência */
  color: #fff; /* Texto branco */
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  font-family: Arial, sans-serif;
  z-index: 1000; /* Certifique-se que ficará acima de outros elementos */
  max-width: 300px;
  animation: fadeIn 0.5s ease-in-out;
}

.warning-account-not-verified h1 {
  font-size: 18px;
  margin: 0 0 10px;
}

.warning-account-not-verified p {
  font-size: 14px;
  margin: 0 0 15px;
}

.warning-account-not-verified button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.warning-account-not-verified button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Animação de aparição */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  header {
    background-color: transparent;
  }
  header nav {
    position: fixed;
    left: -150px;
    top: 0;
    transition: all ease-in-out 0.4s;
    width: 120px;
    height: 100vh;
  }

  header nav.show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    background-color: #000000;
    z-index: 1000;
  }

  nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu-icon {
    display: block;
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 1001;
    cursor: pointer;
  }

  .task-list p {
    font-size: 14px !important;
  }

  .task-informations {
    min-width: auto;
    width: 100%;
    padding: 10px;
  }

  .task-informations h5 {
    font-size: 14px;
  }

  .task-informations p {
    font-size: 12px;
  }

  .task-informations li {
    margin-bottom: 10px;
    padding-bottom: 8px;
  }

  .block-status-color span {
    font-size: 18px !important;
  }

  .add-task-container {
    width: 90%;
    padding: 20px;
    transform: translate(-50%, 50%) scale(0.9);
  }

  .task-title i {
    font-size: 28px;
  }

  .add-task-container .close {
    font-size: 25px;
    top: -10px;
    right: -10px;
  }

  .due-date-label {
    font-size: 16px;
  }

  .add-task-button {
    padding: 10px 15px;
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 17px;
  }
}
